.btn-signup {
  transform: none;
  &:hover {
    color: initial;
  }
  &:focus {
    color: initial;
  }
  &:active {
    color: initial;
  }
}
.fa-12 {
  line-height: unset;
}

.signup-form {
  label,
  select,
  input {
    font-size: 14px;
    line-height: 1.5;
  }
  .form-group {
    margin-bottom: 0px;
  }
  label {
    padding-left: 15px;
    padding-top: 8px;
  }
  textarea {
    overflow-y: scroll;
  }
  .row {
    & [class^="col-"] {
      margin-bottom: 0 !important;
    }
  }
}
