.toggleHolder {
	margin: 0px 10px 0px 10px;
}

	.toggleHolder h3, .toggleHolder p {
        font-size: 14px;
		text-align: center;
		margin: 5px;
		color: rgba(0, 0, 0, .8)
	}

	.toggleWrapper {
			width: 100%; 
			height: 20px;
			overflow: hidden;
	}

	.toggleWrapper .toggleLabel {
			width: 50px;
			display: inline-block;
			margin-top: 0%;
	}

			.toggleWrapper .toggleLabel p {		 
	    		height: 20px;
				border-radius: 0px;
				position: relative;
				margin: 0;
				padding: 0;
				overflow: hidden;
				cursor: pointer;
				color: rgba(0, 0, 0, .5);
		 		transition: all .3s ease-in-out;
			}

			.toggleWrapper .toggleLabel.active p {
				color: rgba(0, 0, 0,.8)
			}

	.toggle {
			display: inline-block;
			width: 40px;
			height: 20px;
			border-radius: 10px;
			position: relative;
			margin: 0;
			padding: 0;
			overflow: hidden;
			border: solid 1px rgba(180, 153, 153, 0.3);
			transition: all .3s ease-in-out;
			cursor: pointer;
	}

			.toggle.active {
				border: solid 1px rgb(135, 135, 135);
			}

			.toggle .inside {
					width: 75%;
					height: 100%;
					border-radius: 20px;
					background: rgba(0, 0, 0, .3);
					position: absolute;
					left: -25%;
					transition: all .3s ease-in-out;
			}

			.toggle.active .inside {
					left: 50%;
					border-radius: 20px;
					background: #454446;
			}

			.toggleLabel {
				display: none !important;
			}