.nav-item {
  .nav-link {
    display: flex;
    align-items: center;

    &.active {
      color: #fff;
      background: rgba(255, 255, 255, 0.23);
      opacity: 1;
    }
  }
}

.api_key_btn {
  display: flex;
  justify-content: space-between;
}

.sidebar .nav a {
  transition: all 150ms ease-in;
}

.qr-copy {
  cursor: pointer;
  font-size: 14px;
  float: right;
}
.qr-copy:active,
.modal-copy:active,
svg:active {
  cursor: wait;
}

span[active="true"]::before {
  content: "Expired";
  color: red;
  position: absolute;
  top: 47.8%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.card-title {
  font-weight: $font-weight-bold;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 14px;
}

.text-color-blue {
  font-size: 14px;
  color: #1c61cc;
}

.sub-list {
  margin-left: 20px;
}

.button-float-right {
  float: right;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 17px;
  align-items: flex-start;
  flex-direction: column; //  margin-right: 70px;
}

.card-subtitle {
  font-size: 15.5px;
}

.table th,
.table td {
  padding: 0.35rem;
  vertical-align: middle;
  font-size: 14px;
}

.badge:empty {
  display: inline-block;
}

.btn-ig {
  padding: 8px 20px;
  width: 100px;
  height: 24px;
}

.btn-igs {
  padding: 8px 10px;
  width: 95px;
  height: 24px;
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
  line-height: 21px;
  padding: 0x;
}

.text-sentencecase {
  padding-left: 5px;
  padding-right: 5px;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  color: #fff;
  // font-family: "Helvetica", "Helvetica neue";
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.descLogo {
  margin-left: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.line-field {
  text-align: center;
  width: 30px;
  margin: 0 10px 8px 10px;
  background: transparent;
  padding-top: 5px;
  -moz-appearance: textfield !important;
  outline: none;
  border: 1px solid rgb(223, 224, 225);
}

.subscription-count-field:disabled {
  text-align: right;
  max-width: 45%;
  margin: 0 10px 8px 10px;
  background: transparent;
  padding-top: 5px;
  padding-right: 5px;
  -moz-appearance: textfield !important;
  outline: none;
  border: 1px solid rgb(223, 224, 225);
}

#subscriptionMethod > thead {
  visibility: collapse;
}

#subscriptionMethod {
  margin-bottom: 0px;
}

.line-field:disabled {
  color: rgb(223, 224, 225);
}

.card-title-retention {
  font-weight: $font-weight-bold;
}

.retention-body {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  margin-top: 10px;
}

.retention-card {
  padding: 20px;
  margin-bottom: 35px;
}

.btn-retention {
  width: 11em !important;
  padding-top: 13px !important;
  margin: 0px 0px 8px 3em !important;
}

.modal-dialog {
  height: 100%;
  border-radius: 0;
  overflow-y: hidden;
  position: fixed;
  margin: auto;
  width: 480px;
  height: 100%;
  top: 0px;
  right: 0px;
}

.modal-header {
  border-radius: 0px !important;
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  height: 65px !important;
  overflow: hidden !important;
  width: 100% !important;
  // z-index: 1200 !important;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.modal-header-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-body-without-top-padding {
  position: absolute !important;
  top: 60px !important;
  left: 0px !important;
  bottom: 60px !important;
  flex: 1 1 auto;
  width: 100%;
  padding: 0rem 2rem !important;
  overflow: auto !important;
}

.modal-body-with-zero-padding {
  position: absolute !important;
  top: 60px !important;
  left: 0px !important;
  bottom: 0px !important;
  flex: 1 1 auto;
  width: 100%;
  padding: 0px 0px 0px 0px !important;
  overflow: auto !important;
}

.modal-body-without-bottom-padding {
  position: absolute !important;
  top: 60px !important;
  left: 0px !important;
  bottom: 0px !important;
  flex: 1 1 auto;
  width: 100%;
  padding: 1rem 1rem !important;
  overflow: auto !important;
}

.modal-body {
  position: absolute !important;
  top: 65px !important;
  left: 0px !important;
  bottom: 60px !important;
  flex: 1 1 auto;
  width: 100%;
  padding: 1rem 1rem !important;
  overflow: auto !important;
}

.navbar-brand {
  height: 65px;
  width: 210px;
}

.card-table-subheading {
  margin-top: 5px;
  padding-inline: 20px;
}

.card-table-heading {
  margin-top: 5px;
  padding: 20px;
  padding-bottom: 0px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none !important;
  box-shadow: none;
  -webkit-box-shadow: none !important;
}

.modal-footer {
  position: absolute !important;
  bottom: 0px !important;
  width: 100% !important;
  height: 60px !important;
  overflow: hidden !important;
  left: 0px !important;
}

.data-agreement-modal-footer {
  display: flex;
  justify-content: space-between;
}

.Toastify__toast--default {
  color: white !important;
  background: #434344;
  color: #aaa;
}

.Toastify__close-button--default {
  color: white !important;
  opacity: 1;
}

.modal-content {
  overflow: hidden !important;
}

.package-toggle {
  display: flex;
  font-weight: normal;
  font-size: 14px;
}

.modal-content > .modal-content {
  overflow: hidden !important;
  height: 100%;
  border-radius: 0;
  background-color: white;
  position: absolute !important;
  // margin: auto;
  width: 480px;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: 1100 !important;
}

.modal-copy {
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  top: 0.5%;
  right: 2%;
}

tr {
  td {
    white-space: break-spaces !important;
  }
}

.modal-body.modal-body__padding_top {
  padding-top: 20px !important;
}

.openID_info_msg {
  margin-top: 3px;
  margin-left: 3px;
}

.data-exchange-toggle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  align-items: baseline;
}

.data-exchange-toggle-btn {
  width: 200px;
}

.data-exchange-type {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 480px) {
  .modal-content > .modal-content {
    width: 100vw;
  }
}

@media only screen and (min-width: 375px) and (max-width: 480px)  {
  .dataagreement-modal-header-title-span{
    width: 155px;
  }
  .verification-request-modal-header-title-span{
    width: 125px;
  }
  }

@media screen and (max-width:375px){
  .dataagreement-modal-header-title-span{
    width: 130px;
  }
  .verification-request-modal-header-title-span{
    width: 100px;
  }
}

.cr-sidebar {
  width: 300px !important;
  left: -300px !important;
}

.cr-sidebar.cr-sidebar--open {
  left: 0px !important;
}

.react-bootstrap-table {
  width: 100% !important;
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.cr-sidebar--open + .cr-content {
  margin: 0 0 0 300px !important;
}

.cr-sidebar__content {
  height: calc(100vh - 0px) !important;
}

.modal-backdrop {
  z-index: 1040 !important;
  background-color: rgba(255, 255, 255, 0.75) !important;
}

.topmost {
  z-index: 1100 !important;
}

.ReactModal-open {
  overflow: hidden;
}

.ReactModal__Overlay .modal-content {
  opacity: 0;
  transform: translate(100%);
  transition: all 15ms ease-in;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.38) !important;
  z-index: 1040 !important;
}

.ReactModal__Overlay--after-open .modal-content {
  opacity: 1;
  transform: translateX(0px);
  transition: all 15ms ease-in;
  z-index: 1100 !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(100%);
  transition: all 15ms ease-in;
}

$header-nav-height: 0px;
$modal-height: calc(100vh - #{$header-nav-height});

.modal {
  border-radius: 0px !important;
  top: 0 !important;
  margin: auto !important;

  &.fade {
    .modal-dialog {
      max-width: 480px;
      min-height: $modal-height;
      transform: translate(100%, 0);
      transition: all 10ms ease-in !important;
      margin: $header-nav-height 0 0 auto;
      border-radius: 0px !important;
    }

    &.show .modal-dialog {
      transform: translate(0, 0);
      transition: all 100ms ease-in !important;
    }

    .modal-content {
      min-height: $modal-height;
      border-radius: 0px !important;
      border: 1px solid #dfdfdf !important;
    }
  }
}

.org-name {
  margin-top: 5px;
  font-size: 23px;
  margin-right: 5px;
}

#btPurpose {
  table-layout: inherit;
  margin-bottom: 0px;
  border: 0px;
}

.react-bootstrap-table {
  border: 1px solid #ddd !important;
  border-radius: 5px;
  overflow: hidden;
}

.Description_Overlay {
  background-color: rgba(255, 255, 255, 0.38) !important;
  z-index: 600;
  transform: translate(0%);
  transition: all 75ms ease-in-out !important;
}

#orgQR {
  float: right;
  font-weight: normal !important;
}

.sub-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-card .toggleHolder {
  margin-bottom: 8px !important;
}

.connection-table {
  display: flex;
  flex-flow: column;
}

.verification-history-table {
  display: flex;
  flex-flow: column;
}

.credential-text {
  margin-bottom: 16px;
}

.credential-table {
  display: flex;
  flex-flow: column;
}

input::placeholder {
  overflow: visible;
  padding-left: 2px;
  font-style: italic;
  font-size: 14px;
}

textarea::placeholder {
  overflow: visible;
  padding-left: 2px;
  font-style: italic;
  font-size: 14px;
}
.css-151xaom-placeholder {
  font-style: italic;
  font-size: 14px;
}

.schema-select {
  display: flex;
  justify-content: flex-start;
}

.attrlist {
  display: inline !important;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

.loader {
  z-index: 1200;
  position: absolute;
  border: 9px solid #b7b7b7;
  border-top: 9px solid #434344;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
}

.loader-v1 {
  z-index: 1200;
  position: absolute;
  border: 5px dashed #000;
  border-top: 5px dashed #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
}

.required-field {
  color: rgba(224, 7, 7, 0.986);
  size: 14px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.model-content-container {
  min-height: calc(100vh - 0px);
  width: 480px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exchange-data {
  color: #212529 !important;
}
.card-delete-icon {
  float: right;
  width: 20px;
  height: 20px;
}

.modal-heading-h3 {
  line-height: 1.5rem;
  margin-bottom: 0;
}
.modal-back-button {
  float: left;
  margin-right: 5px;
}

.table-attr-additional-info {
  border: 0px !important;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0rem;
  background-color: transparent;
}

.table-attr-additional-info-column {
  font-weight: normal;
  border: 0px !important;
  text-align: center;
}

.table-attr-restriction {
  border: solid 1px #dee2e6;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table-attr-restriction-column {
  font-weight: normal;
  border: solid 1px #dee2e6;
  text-align: center;
}

.table-policy-configuration {
  border: solid 1px #dee2e6;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table-policy-configuration-column {
  font-weight: normal;
  font-size: 14px;
  border: solid 1px #dee2e6;
  text-align: left;
  padding-left: 5px;
}

.table-policy-configuration-column-right {
  padding: 0px;
  font-size: 14px !important;
}

.title-attr-restriction {
  font-weight: normal;
  margin: 10px 10px 5px 10px;
  border-bottom: solid 1px #dee2e6;
  line-height: 1.5rem;
}

.title-personal-data-table-attribute-description {
  font-weight: normal;
  margin: 10px 10px 5px 10px;
  border-bottom: 0px !important;
  line-height: 1.5rem;
}

.title-sub-attr-restriction {
  font-weight: normal;
  font-size: 16px;
  margin: 10px 10px 0px 10px;
  line-height: 1.5rem;
}

.card-attr-restrict {
  padding: 0px;
  margin: 5px 10px;
}

.attr-restriction-card {
  margin-bottom: 25px;
}

// Data Agreement CRUD panel - Data Exchange mode
.data-exchange-configure-container {
  margin-top: -10px;
  margin-bottom: 15px;
}

.data-exchange-configure-btn-disabled,
.data-exchange-configure-btn:link,
.data-exchange-configure-btn:visited,
.data-exchange-configure-btn:hover,
.data-exchange-configure-btn:active {
  color: grey !important;
}

.data-exchange-configure-btn,
.data-exchange-configure-btn:link,
.data-exchange-configure-btn:visited,
.data-exchange-configure-btn:hover,
.data-exchange-configure-btn:active {
  color: blue !important;
  // font-size: 14px;
}

.modal-back-button {
  cursor: pointer;
}

.data-agreement-credentials-modal-backdrop.show {
  opacity: 0;
}

.table-loader-container-v1 {
  width: 100%;
  height: 100%;
  background-color: #ffffffb0;
  opacity: 0.5;
  z-index: 99999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container-v1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffffb0;
  opacity: 0.5;
  z-index: 99999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb {
  background-color: transparent;
}

.dataagreement-table-import-icon {
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  width: 26px;
  margin-top: -4px;
}

.data-agreement-import-file-container {
  display: inline-block;
}

.search-label {
  margin-bottom: 0px;
}

.pagination.react-bootstrap-table-page-btns-ul {
  padding-top: 10px;
}

.delete-modal-header-title-div {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.publish-modal-header-title-div {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Font Smoothing */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
td,
button,
span,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.navbar,
.brand,
.alert {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.blurry-text {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.non-blurry-text {
  color: grey;
  text-shadow: none;
}
